@charset "UTF-8";
#main_header{
    display: flex;
    justify-content:space-around ;
    align-items: center;
    background-color: rgba(15, 15, 63, 0.356) ;
    padding: 1vh;
    width: 100%;
}
.title_principal{
   display: none;
    
}
.nav-menu{ 
    display:flex;
}
.menu{
    display:flex;
    
}
.menu li{
    
    margin-left: 2vh;
}
.menuItem{
    font: normal 600 2vh var(--font2);
    color: var(--color1);
    text-decoration: none;
}
.menuItem:hover{
 
    transition: 0.3s;
    color: var(--color2);

}

@media screen and (min-width:780px) {
    #main_header{
        display: flex;
        
        height: 10vh;
        padding: 2vh;
        background-color: rgba(15, 15, 63, 0.356) ;
    }
    .title_principal{
        display: flex;
        font: normal 600 8vh var(--font2);
        color: var(--color1);
    }

    .menu{
        display: flex;
    }
    .menu li{
        margin-left: 2vh;
    }
    .menuItem{
        
        font: normal 500 3vh var(--font3);
        color: var(--color1);
        text-decoration: none;

    }
    .menuItem:hover{
        transition: 0.3s;
        color: var(--color2);
       
    }


}

@media screen and (min-width:1024px) {
    #main_header{
        display: flex;
        width: 100%;
        height: 10vh;
        padding: 2vh;
        background-color: rgba(15, 15, 63, 0.356) ;
    }
    .title_principal{
        display: flex;
        font: normal 600 8vh var(--font2);
        color: var(--color1);
    }
    .menu{
        display: flex;
        
    }
    .menu li{
        margin-left: 2vh;
    }
    



}
